name: build and publish server docker nightly

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 */3 * *"

jobs:
  publish-server-docker-nightly:
    runs-on: ubuntu-latest
    steps:
      - name: checkout upstream code
        uses: actions/checkout@v6
        with:
          path: upstream-code
          repository: "laurent22/joplin"

      - name: checkout code
        uses: actions/checkout@v6
        with:
          path: code

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GH_USERNAME }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ghcr.io/${{ secrets.GH_USERNAME }}/joplin-server:nightly
          platforms: linux/amd64,linux/arm64/v8
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: upstream-code
          file: code/Dockerfile
          build-args: |
            VERSION=nightly
